﻿@model Role
@{
    ViewData["Title"] = "AddNewRole";
}

<h1>Add New Role</h1>

<form method="post" class="form-group" name="roleForm">

    @Html.HiddenFor(r => r.Id)
    @Html.LabelFor(r => r.Name)
    @Html.EditorFor(r => r.Name, new { htmlAttributes = new { @class = "form-control" } })
    @if (ViewBag.duplicate == "duplicated")
    {
        <h4 style="color:red"> Sorry this role already exists</h4>
    }

    @Html.LabelFor(r => r.Description)
    @Html.EditorFor(r => r.Description, new { htmlAttributes = new { @class = "form-control" } })
    <input id="savebtn" type="submit" value="Save" class="mt-4 btn btn-dark"
           onclick="return validateForm()" />

</form>

@section Scripts
{
    <script>

        function validateForm() {
            if (document.roleForm.Name.value == "") {
                alert("Please enter role name!");
                document.roleForm.Name.focus();
                return false;
            }
            if (document.roleForm.Description.value == "") {
                alert("Please enter role description!");
                document.roleForm.Description.focus();
                return false;
            }
            else {
                alert("You have been created your role successfully");
            }
        }

    </script>
}   