﻿@model IEnumerable<User>
@{
    ViewData["Title"] = "Index";
}



<div class="form-group row">
    <div class="input-group">
        <input id="searchName" type="search" class="form-control col-8 rounded" />
        <span class="input-group-btn d-block col-2">
            <button class="btn btn-success w-100" onclick="loadSearchName()">
                <i class="fas fa-search"></i>   Find User
            </button>
        </span>
        <span class="input-group-btn d-block col-2">
            <a asp-area="Identity" asp-page="/Account/Register" title="Add new User" class="btn btn-primary w-100">Create New</a>
        </span>
    </div>
</div>

<div id="FullNameUSer">

</div>


@section Scripts
{
    <script>

        function loadSearchName() {
            var string = $('#searchName').val();
            $.ajax({
                url: '../Admin/GetAllBySearchName',
                method: 'GET',
                data: { FullName: string },
                datatype: 'json',
                success: function (res) {
                    $('#FullNameUSer').html(res);
                },
                error: function (err) {
                    alert(err);
                }
            });
        }

    </script>
}
