﻿@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">

    @if (SignInManager.IsSignedIn(User))
    {

        if (User.IsInRole("Normal User"))
        {
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-controller="Profile" asp-action="Index" asp-route-id="@UserManager.GetUserId(User)">
                    Profile
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/ChangePassword" title="Manage">
                    Settings
                </a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout">
                    <button type="submit" class="nav-link text-white btn btn-link">Logout</button>
                </form>
            </li>

        }
        else if (User.IsInRole("Admin"))
        {
            <li>
                <a class="nav-link text-white" asp-controller="Admin" asp-action="Index">
                    Users
                </a>
            </li>
            <li>
                <a class="nav-link text-white" asp-controller="Admin" asp-action="AddNewRole">
                    Roles
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/ChangePassword" title="Manage">
                    Settings
                </a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout">
                    <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
                </form>
            </li>

        }
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/MyLogin">Login</a>
        </li>
    }
</ul>
