﻿@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@model Post
@inject UserManager<User> UserManager

@if (User.IsInRole("Normal User"))
{
    <div id="postContainer" class="bg-white p-3 mb-3 rounded border">
        <div class="form-group mb-0">
            <textarea id="createPostBox" asp-for="Body" class="form-control mb-3" placeholder="What's on your mind?" style="min-height:120px; max-height:120px;"></textarea>
            <button value="Post" class="btn btn-primary col-12" onclick="addPost()"> Post </button>
        </div>
    </div>
}
