﻿@model User

<form>
    <div class="form-horizontal">
        <div class="form-group">
            @Html.HiddenFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Bio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="StatusID" name="Status">
                    @if (Model.Status == "Single")
                    {
                        <option value="Single" selected>Single</option>
                        <option value="In Relation">In Relation</option>
                    }
                    else
                    {
                        <option value="Single">Single</option>
                        <option value="In Relation" selected>In Relation</option>
                    }
                </select>
            </div>

        </div>
        <div class="form-group row">
            <div class="col-2"></div>
            <div class="col-md-10 ">
                <input type="button" value="Save" class="btn btn-success" onclick="editInfo()" />
            </div>
        </div>
    </div>
</form>
