﻿@model IEnumerable<MVC_Facebook.Models.User>

@if (Model.Count() > 0)
{
    <div class="card mb-3">
        <div class="card-header">
            <div class="text-center h4">
                Friend Request
            </div>
        </div>
        <div class="card-body">
            @foreach (var item in Model)
            {
                <div class="row pb-1 mb-1 border-bottom">
                    <div class="col-4">
                        <img class="card-img-top" src="~/images/@item.Picture" alt="Card image">
                    </div>
                    @Html.ActionLink($"{item.FullName}", "Index", "Profile",
                                                 routeValues: new { id = item.Id },
                                                 htmlAttributes: new { @class = "col-8 h6 pt-2 pl-0" })
                    <div class="col-6 p-1">
                        <button class="btn btn-primary col-12 rounded-left" onclick="getRespond(this,'@item.Id')" value="Accepted">Cofirm</button>
                    </div>
                    <div class="col-6 p-1">
                        <button class="btn btn-danger col-12" onclick="getRespond(this,'@item.Id')" value="Removed">Remove</button>
                    </div>
                </div>
            }
        </div>
    </div>
}
