﻿@model IEnumerable<User>

<div class="card">
    <div class="card-header">
        <div class="text-center h4">
            Friend List
        </div>
    </div>
    <div class="border-bottom p-3 text-center h5 text-secondary">
        <span>
            @Model.Count() Friends
        </span>
    </div>
    <div class="card-body">
        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <div class="row pb-1 mb-1 border-bottom">
                    <div class="col-4">
                        <img class="card-img-top" src="~/images/@item.Picture" alt="Card image">
                    </div>
                    @Html.ActionLink($"{item.FullName}", "Index", "Profile",
                                                        routeValues: new { id = item.Id },
                                                        htmlAttributes: new { @class = "col-8 h6 pt-2 pl-0" })
                </div>
            }
        }
        else
        {
            <div class="card-body text-center">
                Add some friends!
            </div>
        }
    </div>
</div>
